@import 'config';

.user-form {
  width: 100%;
  max-width: 800px;
  input {
    display: block;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
    background-color: #4c2885;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
      0 15px 40px rgba(0, 0, 0, 0.1);
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #bbb;
    }
  }
}

.card {
  display: flex;
  margin: 0 1.5rem;
  padding: 3rem;
  max-width: 800px;
  background-color: #4c2885;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 150px;
  height: 150px;
  border: 10px solid #2a2a72;
  border-radius: 50%;
}

.user-info {
  margin-left: 2rem;
  color: #eee;
  > * {
    margin-bottom: 0.5rem;
  }
  h2 {
    margin-top: 0;
  }
  ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    max-width: 400px;
    list-style-type: none;
    li {
      display: flex;
      align-items: center;
      strong {
        margin-left: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}

.repo {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  background-color: #2a2872;
  font-size: 0.7rem;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
  .user-form {
    max-width: 400px;
  }
}
